@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ivory text-deep-slate font-lato;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}

.breadcrumb-item:not(:last-child)::after {
  content: "/";
  @apply mx-2 text-gray-400;
}
